* {
	box-sizing: border-box;
}

#mainBox{

	height: auto;
	padding: 3%;
	margin: 0;
	
	color: #fff;
}

#wrapper {
	max-width: 800px;
	height: 550px;
	background: url(../../assets/images/building.jpg);
	margin: 15px auto;
	padding: 64px;
	background-size: cover;
	position: relative;
	z-index: 1;
	box-shadow: 0px 15px 20px 0px rgba(128, 128, 128, 0.76);
}

#wrapper:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: -1;
	
}

.form-group {
	position: relative;
	margin-bottom: 16px;
}

h1{
	
	font-weight: 400;
	
}

input[type="submit"] {
	color: white;
	background: #00cccc;
	margin-top: 0.5rem;
	cursor: pointer;
	
	width: 35%;
	outline: none;
	padding: 12px 15px;
	color: #fff;
	border: none;
	border-radius: 6px;

	font-size: 25px;
	transition: 0.4s;
	font-weight: bold;

}

input[type="submit"]:hover {
	background:  rgba(64,224,208, .2);;
	color: #fff;
	border: 3px solid white;
	padding: 9.5px;
	
	
}

#heading{
	margin-top: 6.5rem;
	font-size: 2.4rem;
	
}

@media screen and (max-width :490px) {
	#mainbox {
		display: table;
		width: 100%;
	}
	#wrapper {
		width: auto;
		height: 100vh;
		margin: 0;
		display: table-cell;
		vertical-align: middle;
	}
}

@media screen and (max-width :490px) {
	#wrapper {
		padding: 28px;
	}
}